html {
    font-family: 'Roboto', 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    min-height: 100vh; /* Εξασφαλίζει ότι το site έχει τουλάχιστον το ύψος της οθόνης */

}
.header-desktop {
    font-family: 'Roboto', 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    position: fixed;
    top: 3%;
    left: 15%;
    right: 15%;
    width: auto;
    height: auto;
    background: transparent; /* Εντελώς διάφανο background */
    background-color: rgba(160, 152, 81, 0.4); /* Χρώμα με διαφάνεια */

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3),
                0 8px 24px rgba(0, 0, 0, 0.2);


    backdrop-filter: blur(10px); /* Θόλωμα */
    -webkit-backdrop-filter: blur(10px); /* Υποστήριξη Safari */
    z-index: 1000;
}

.header-mobile {
    font-family: 'Roboto', 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    /*position: fixed;
    top: 2%;
    left: 5%;
    right: 5%;*/
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background: transparent; /* Εντελώς διάφανο background */
    background-color: rgba(160, 152, 81, 0.4); /* Χρώμα με διαφάνεια */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3),
                0 8px 24px rgba(0, 0, 0, 0.2);

    backdrop-filter: blur(10px); /* Θόλωμα */
    -webkit-backdrop-filter: blur(10px); /* Υποστήριξη Safari */
    z-index: 1000;
}


.main-page-desktop {
    min-height: 100vh;
    /*height: auto; */
    width: 100%;
    
    background-image: url('img/Logo_Sinaiterismou.png');
    /*background-size: 40% auto;*/
    background-size: contain;

    background-position: center center;
    background-repeat: no-repeat;

    
}

.main-page-desktop .btn {
    background-color:rgba(160, 152, 81, 0.4); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3),
                0 8px 24px rgba(0, 0, 0, 0.2);
    height: auto;
    width: auto;
            

}

.main-page-mobile {
    min-height: 100vh;
    /*height: auto; */
    width: 100%;
    
    background-image: url('img/Logo_Sinaiterismou.png');
   /*background-size: 70% auto; /* π.χ. πλάτος 200px */
   background-size: contain;

    background-position: center center;
    background-repeat: no-repeat;

    
}
.main-page-mobile .btn {
    height: auto;
    width: auto;
    background-color:rgba(160, 152, 81, 0.4); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3),
                0 8px 24px rgba(0, 0, 0, 0.2);

}

.section1{
    height: 100vh;
    background-color:rgb(40,73,43);

}

.section2{
    height: 400px;
    background-color: wheat ;
}

.section3{
    height: 400px;
    background-color: green ;
}